a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.col {
  height: 100%;

  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background: rgb(205, 237, 248);
  width: 30%;
}

.right {
  right: 0;
  background: rgb(238, 255, 254);
  width: 70%;
}

/* .container-1 > div {
  padding: 1em;
} */

.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

.toggle-btn-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5px;
}

.toggle-btn:focus {
  background: rgb(154, 219, 205);
}

.feedback-btn {
  background: rgb(154, 219, 205);
}

.sidebar-card {
  opacity: 0.9;
}

.cancel {
  float: right;
  background: rgb(207, 207, 207);
}
